
{% extends "layout.html" %}

{% block bodylocation %}

    <div class="container-lg">
        <h2 style="color:orchid">This project was implemented with the help of TBC Bank and Geo Lab <br>Special thanks to them:</h2>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/static/TBCL.jpeg" class="card-img-top" alt="tbc logo" style="height: 300px;">
                    <div class="card-body">
                      <h5 class="card-title">TBC bank</h5>
                      <p class="card-text">TBC Tech School offers training courses that cover various areas of technology.</p>
                      <a href="https://www.tbceducation.ge" class="btn btn-primary">TBC education</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/static/geolabL.png" class="card-img-top" alt="geolab logo" style="height: 300px">
                    <div class="card-body">
                      <h5 class="card-title">Geolab</h5>
                      <p class="card-text">Geolab is a mobile and web application laboratory.It implements some interesting and innovative projects.</p>
                      <a href="https://geolab.edu.ge" class="btn btn-primary">Geolab</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
